<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="DomainRoot" value="http://localhost:8372/" />
    <add key="Host" value="localhost:8372" />
    <add key="Authorization" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ" />
    <add key="User-Agent" value="CallReport/7.1" />
    <add key="Correlation-Id" value="10C5E047-46C0-477E-8617-196D5507696F" />
    <add key="Date" value="Wed, 08 Nov 2017 07:29:45 GMT" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ResidenceId" value="" />
    <add key="NumberOfInsolvencies" value="" />
    <add key="username" value="ste" />
    <add key="password" value="e38ad214943daad1d64c102faec29de4afe9da3d" />
    <add key="organisationalUnitAlias" value="ste" />
    <add key="authenticationURL" value="https://UKAOLSTEAPI001.cig.local/api/uk/sts/credit-online-authentication-tokens" />
    <add key="authorizationURL" value="https://UKAOLSTEAPI001.cig.local/api/uk/sts/credit-online-authorization-tokens" />
    <add key="Query" value="uk/mastered-data/insolvencies" />
  </appSettings>
  <specFlow>
    <unitTestProvider name="NUnit" />
    <stepAssemblies>
      <stepAssembly assembly="InsolvenciesStepDefinitionsHelper" />
    </stepAssemblies>
    <bindingCulture name="en-GB" />
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
