<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="ApplicationInsights">
    <Parameter Name="InstrumentationKey" Value="b1a0da5e-7376-4aca-a6a0-f9d661f9a686" MustOverride="true" />
  </Section>
  <!--<Section Name="Management">
    <Parameter Name="ImageStoreConnectionString" Value="fabric:ImageStore" />
  </Section>-->
</Settings>
